:root
{
    --primary-color: #8E43F0;
    --primary-color-6: rgb(142, 67, 240, 0.6);
    --white-color: #fff;
    --black-color: #111;
    --text-color: #333;
    --gray-color: #aaa;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --menu-color: #584D66;
    --background-color: #F3F3F3;
    --red-color: #CC0000;
    --secondary-color: #a66eee;

    --box-1-color: #8E43F0;
    --box-2-color: #0099ff;
    --box-3-color: #3ed854;
    --box-4-color: #ffbe2e;

    --header-height: 60px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

*
{
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

section {
    background: var(--white-color);
}

/* Responsive */
.grid__row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2
{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4
{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10
{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.hide {
    display: none;
}

/* Animation */
@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes growth
{
    from
    {
        transform: scale(var(--growth-from));
    }
    to
    {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    /* display: none; */
    animation: fadeIn linear 0.1s;
}

.modal__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body
{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button style */
.btn
{
    min-width: 140px;
    min-height: 40px;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px 12px;
}

.btn.btn--normal:hover
{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-size-s
{
    height: 32px;
    font-size: 1.2rem;
}

.btn.btn--primary
{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn.btn--disabled
{
    cursor: default;
    background-color: #c3c3C3;
    color: #949494;
}

.btn--radius {
    border-radius: 20px;
}

/* Selection */
.select-input
{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
}

.select-input__label
{
    font-size: 1.4rem;
}

.select-input__icon
{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list
{
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style-type: none;
    display: none;
    z-index: 1;
}

.select-input__link
{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover
{
    color: var(--primary-color);
}

/* Pagination */
.pagination
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.pagination-item
{
    margin: 0 15px;
}

.pagination-item--active .pagination-item__link
{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover
{
    background-color: #ed5c3f;
}

.pagination-item__link
{
    --height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
}


/* PetOfMe base css */
.background-transparent {
    background: transparent;
}

.menu-background {
    background: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.section-background {
    background: #fbfcff;
}

.section-padding {
    padding: 60px 0;
}

.paragraph-clamp {
    max-height: 8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.paragraph-clamp-6 {
    max-height: 12rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.paragraph {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--text-color);
}

.paragraph-big {
    color: var(--text-color);
    font-size: 1.9rem;
    line-height: 2.8rem;
}

.paragraph-big-max-height {
    max-height: 16.8rem;
}

.paragraph-big-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.paragraph-big-clamp-6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.question {
    font-size: 4rem;
    line-height: 4rem;
}

.title {
    font-family: 'Mouse Memoirs', sans-serif;
}

.title-big {
    font-size: 4rem;
    line-height: 4rem;
    margin: 20px 0;
}

.title-small {
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin: 16px 0;
}

.title-small-clamp {
    max-height: 2.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--primary-color);
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    padding: 0;
}

.mt-none {
    margin-top: 0;
}

.mb-none {
    margin-bottom: 0;
}

.ml-none {
    margin-left: 0;
}

.mr-none {
    margin-right: 0;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-2x {
    margin-top: 20px;
}

.mt-4x {
    margin-top: 40px;
}

.mt-6x {
    margin-top: 60px;
}

.mt-8x {
    margin-top: 80px;
}

.mt-10x {
    margin-top: 100px;
}

.mb-2x {
    margin-bottom: 20px;
}

.mb-4x {
    margin-bottom: 40px;
}

.pb-1x {
    padding-bottom: 10px;
}

.pb-2x {
    padding-bottom: 20px;
}

.pb-4x {
    padding-bottom: 40px;
}

.border {
    border: 1px solid var(--border-color);
}

.border-bottom {
    border-bottom: 1px solid var(--border-color);
}

.text-center {
    text-align: center;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.letter-1 {
    letter-spacing: 1px;
}

.ob-fit-cover {
    object-fit: cover;
}

.row-gap-2x {
    row-gap: 20px;
}

.column-gap-2x {
    column-gap: 20px;
}

.decoration-none {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.primary-color {
    color: var(--primary-color);
}

.error-color {
    color: var(--red-color);
}

.white-color {
    color: var(--white-color);
}

.font-normal {
    font-weight: normal;
}